@model JobTracking.Models.Staff.StaffInfo

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card mb-4">
    <h5 class="card-header">Add Staff</h5>
    <!-- Account -->
    
   


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">


    <hr class="my-0">
    <div class="card-body">
        <form id="formAccountSettings" method="POST" onsubmit="return false">
            <div class="row">
                <div class="mb-3 col-md-6">

                    @Html.LabelFor(model => model.NameSurname, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="input-group input-group-merge">
                        <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-user"></i></span>
                        <input class="form-control" type="text" name="NameSurname" id="NameSurname" value=" ">
                    </div>

                </div>

                <div class="mb-4 col-md-6">

                    @Html.LabelFor(model => model.StaffPhoto, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="input-group input-group-merge">
                        <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-user"></i></span>
                        <input class="form-control" type="text" name="StaffPhoto" id="StaffPhoto" value=" ">
                    </div>

                </div>


                <div class="mb-3 col-md-6">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })

                    <div class="input-group input-group-merge">
                        <span class="input-group-text"><i class="bx bx-envelope"></i></span>
                        <input class="form-control" type="email" name="Email" id="Email" value="Type Your Email Address Here">
                    </div>
                    <div class="form-text">You can use letters, numbers &amp; periods</div>

                </div>
                <div class="mb-3 col-md-6">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })

                    <div class="input-group input-group-merge">
                        <span class="input-group-text"><i class="bx bx-dialpad"></i></span>
                        <input class="form-control" type="text" id="Password" name="Password" value="" placeholder="">
                    </div>
                </div>
                <div class="mb-3 col-md-6">
                    @Html.LabelFor(model => model.Authorization, htmlAttributes: new { @class = "control-label col-md-2" })

                    <div class="input-group input-group-merge">
                        <span class="input-group-text"><i class="bx bx-shield-quarter"></i></span>
                        <input type="text" class="form-control" id="Authorization" name="Authorization" value="">
                    </div>
                </div>
                <div class="mb-3 col-md-6">
                    @Html.LabelFor(model => model.IdNumber, htmlAttributes: new { @class = "control-label col-md-4" })

                    <div class="input-group input-group-merge">
                        <span class="input-group-text"><i class="bx bx-id-card"></i></span>
                        <input type="text" id="IdNumber" name="IdNumber" class="form-control" value="Type Your Identity Number Here" placeholder="">
                    </div>
                </div>
                <div class="mb-3 col-md-6">
                    @Html.LabelFor(model => model.Department, htmlAttributes: new { @class = "control-label col-md-2" })

                    <div class="input-group input-group-merge">
                        <span id="basic-icon-default-company2" class="input-group-text"><i class="bx bx-buildings"></i></span>
                        <input type="text" class="form-control" id="Department" name="Department" value="Type Your Department Here" placeholder="Address">
                    </div>


                </div>
                
                <div class="mb-3 col-md-6">
                    @Html.LabelFor(model => model.Task, htmlAttributes: new { @class = "control-label col-md-2" })

                    <div class="input-group input-group-merge">
                        <span id="basic-icon-default-phone2" class="input-group-text"><i class="bx bx-task"></i></span>
                        <input class="form-control" type="text" id="Task" name="Task" placeholder="">
                    </div>
                </div>
                <div class="mb-3 col-md-6">
                    @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-4" })

                    <div class="input-group input-group-merge">
                        <span id="basic-icon-default-phone2" class="input-group-text"><i class="bx bx-phone"></i></span>
                        <input class="form-control" type="tel" id="PhoneNumber" name="PhoneNumber" placeholder="">
                    </div>


                </div>
                <div class="mb-3 col-md-6">
                    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })

                    <div class="input-group input-group-merge">
                        <span class="input-group-text"><i class="bx bx-map"></i></span>
                        <input class="form-control" type="text" id="Address" name="Address" placeholder="">
                    </div>
                </div>
                <div class="mb-3 col-md-6">
                    @Html.LabelFor(model => model.Birthdate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <input class="form-control" type="datetime-local" id="Birthdate" name="Birthdate" placeholder="">

                </div>
                <div class="mb-3 col-md-6">
                    @Html.LabelFor(model => model.EmploymentDate, htmlAttributes: new { @class = "control-label col-md-4" })
                    <input class="form-control" type="datetime-local" id="EmploymentDate" name="EmploymentDate" placeholder="">
                </div>
                <div class="mb-3 col-md-6">
                    @Html.LabelFor(model => model.MaritalStatus, htmlAttributes: new { @class = "control-label col-md-4" })

                    <div class="input-group input-group-merge">
                        <span class="input-group-text"><i class="bx bx-male"></i></span>
                        <input class="form-control" type="text" id="MaritalStatus" name="MaritalStatus" placeholder="">
                    </div>
                </div>
                <div class="mb-3 col-md-6">
                    @Html.LabelFor(model => model.PositionDetail, htmlAttributes: new { @class = "control-label col-md-2" })

                    <div class="input-group input-group-merge">
                        <span class="input-group-text"><i class="bx bx-detail"></i></span>
                        <input class="form-control" type="text" id="PositionDetail" name="PositionDetail" placeholder="">
                    </div>
                </div>
                <div class="mb-3 col-md-6">
                    @Html.LabelFor(model => model.RelativesFullName, htmlAttributes: new { @class = "control-label col-md-4" })

                    <div class="input-group input-group-merge">
                        <span class="input-group-text"><i class="bx bx-user"></i></span>
                        <input class="form-control" type="text" id="RelativesFullName" name="RelativesFullName" placeholder="">
                    </div>
                </div>
                <div class="mb-3 col-md-6">
                    @Html.LabelFor(model => model.RelativesIdNumber, htmlAttributes: new { @class = "control-label col-md-4" })

                    <div class="input-group input-group-merge">
                        <span class="input-group-text"><i class="bx bx-id-card"></i></span>
                        <input class="form-control" type="number" id="RelativesIdNumber" name="RelativesIdNumber" placeholder="">
                    </div>
                </div>
                <div class="mb-3 col-md-6">
                    @Html.LabelFor(model => model.RelativesPhoneNumber, htmlAttributes: new { @class = "control-label col-md-4" })

                    <div class="input-group input-group-merge">
                        <span class="input-group-text"><i class="bx bx-phone"></i></span>
                        <input class="form-control" type="tel" id="RelativesPhoneNumber" name="RelativesPhoneNumber" placeholder="">
                    </div>
                </div>
                <div class="mb-3 col-md-6">
                    @Html.LabelFor(model => model.RelativesInformation, htmlAttributes: new { @class = "control-label col-md-4" })

                    <div class="input-group input-group-merge">
                        <span class="input-group-text"><i class="bx bx-info-circle"></i></span>
                        <input class="form-control" type="text" id="RelativesInformation" name="RelativesInformation" placeholder="">
                    </div>
                </div>


            </div>
            <div class="mt-2">
                <button type="submit" class="btn btn-primary me-2">Add Staff</button>
                <a href="/StaffInfos/Index/"  class="btn btn-outline-secondary">Home</a>
            </div>
        </form>
    </div>
    <!-- /Account -->
</div>


   

    

}




